:root {
  --bg-color: #fff;
  --primary-color: #222;
  --secondary-color: #7a7a7a;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #fff;
  --stroke-color: #6c6c6c;

  // skeleton
  --skeleton-color: #aaa;
  --skeleton-shadow: #808080;

  // listbox
  --listbox-bg: #e7e7e7;
  --listbox-selected: #aaa;
  --listbox-active: #cc2323;

  // card
  --card-bg: #fcfcfc;

  // inputs
  --input-bg: rgb(247 248 248 / 80%);
}
